.main-content {
  width:           100%;
  height:          100%;
  display:         flex;
  justify-content: center;
  align-items:     center;
  align-content:   center;
}

.form {
  display:          flex;
  flex-direction:   column;
  gap:              10px;
  max-width:        var(--login-form-max-width);
  background-color: rgba(var(--background-white));
  padding:          20px;
  border-radius:    20px;
  position:         relative;
  z-index: 1001;
}

.title {
  font-size:      28px;
  color:          rgba(var(--blue));
  font-weight:    600;
  letter-spacing: -1px;
  position:       relative;
  display:        flex;
  align-items:    center;
  padding-left:   30px;
}

.title::before, .title::after {
  --size:           var(--login-title-after-size);
  position:         absolute;
  content:          "";
  height:           var(--size);
  width:            var(--size);
  border-radius:    50%;
  left:             0;
  background-color: rgba(var(--blue));
}

.title::before {
  --size:           var(--login-title-before-size);
  width:            var(--size);
  height:           var(--size);
  background-color: rgba(var(--blue));
}

.title::after {
  --size:    var(--login-title-before-size);
  width:     var(--size);
  height:    var(--size);
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color:     rgba(var(--gray));
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: rgba(var(--blue));
}

.signin a:hover {
  text-decoration: underline rgba(var(--blue));
}

.flex {
  display: flex;
  width:   100%;
  gap:     6px;
}

.form label {
  position: relative;
  margin:   20px 0;
}

.form label .input {
  width:         100%;
  padding:       10px 10px 20px 10px;
  outline:       0;
  border:        1px solid rgba(var(--border-gray));
  border-radius: 10px;
  caret-color:   rgba(var(--caret-black));
}

.form label .input + span {
  position:   absolute;
  left:       10px;
  top:        15px;
  color:      rgba(var(--gray));
  font-size:  0.9em;
  cursor:     text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top:       15px;
  font-size: 0.9em;
}

.form label .input:focus + span, .form label .input:valid + span {
  top:         30px;
  font-size:   0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: rgba(var(--green));
}

.submit {
  border:              none;
  outline:             none;
  background-color:    rgba(var(--blue));
  padding:             10px;
  border-radius:       10px;
  color:               rgba(var(--white));
  font-size:           16px;
  transition-duration: .3s;
}

.submit:hover {
  background-color: rgba(var(--login-dblue));
}

.bg {
  position:   absolute;
  top:        0;
  right:      0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: rgba(var(--black), .4);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity:   1;
  }

  to {
    transform: scale(1.8);
    opacity:   0;
  }
}
